In [12]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import matplotlib
matplotlib.style.use('ggplot')

import scipy.stats as st
from scipy.stats import linregress
from scipy.stats import sem

# import seaborn as sns

In [13]:
Teen_Birth_rate_df = pd.read_csv(r'F:/Teen_Pregnancy/resources/teen_birth_rates_2005 to 2019.csv')
Teen_Birth_rate_df .head()

   YEAR STATE  RATE                                       URL
0  2019    AL  25.6     /nchs/pressroom/states/alabama/al.htm
1  2019    AK  18.3      /nchs/pressroom/states/alaska/ak.htm
2  2019    AZ  18.5     /nchs/pressroom/states/arizona/az.htm
3  2019    AR  30.0    /nchs/pressroom/states/arkansas/ar.htm
4  2019    CA  12.4  /nchs/pressroom/states/california/ca.htm

In [14]:
#Year_Teen_Birth_rate_df  = Teen_Birth_rate_df.loc[(Teen_Birth_rate_df['YEAR'] >= 2005) & (Teen_Birth_rate_df['YEAR'] < 2014)]
#Year_Teen_Birth_rate_df.head(10)

In [15]:
Year_Teen_Birth_rate_df  = Teen_Birth_rate_df.loc[:, ("YEAR", "STATE", "RATE")]
Year_Teen_Birth_rate_df.head(10)

   YEAR STATE  RATE
0  2019    AL  25.6
1  2019    AK  18.3
2  2019    AZ  18.5
3  2019    AR  30.0
4  2019    CA  12.4
5  2019    CO  13.9
6  2019    CT   7.7
7  2019    DE  14.9
8  2019    FL  16.2
9  2019    GA  19.7

In [16]:
Year_Teen_Birth_rate_df.to_csv(r'F:/Teen_Pregnancy/Cleaned_data/Teen_Birth_rate.csv', index = False, header = True)

# Done!